body {
    overflow: hidden;
}

.col {
    padding: 0 !important;
}

#main {
    height: 100vh;
    width: 70%;
    float: left;
    background-image: url("./snow.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 2%;
}

h1 {
    color: orange;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 70px;
}

#main p {
    margin: 5% auto 0 auto;
    text-align: center;
    font-size: 70px;
    color: white;
    font-family: 'Mountains of Christmas', cursive;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.calendar {
    float: left;
    overflow: hidden !important;
}

#forecast_embed {
    float: left;
}

.fe_container .fe_title .fe_forecast_link {
    display: none !important;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #main {
        padding: 2% 0 0 0 !important;
        height: 100vh;
    }
    
    h1 {
        font-size: 45px;
    }
    #main p {
        font-size: 40px;
        margin-top: 40%;
    }

    .calendar {
        display: none;
    }

    #forecast_embed {
        display: none;
    }
}